
h1
{
    color: #37003c;
}

.btn_add
{
    margin-left: 300px;
}

.btn_del
{
    margin-right: 300px;
}

hr
{
    background: #37003c;
    width: 800px;
}

.thead_clubs
{
    background: #17a2b8;
    color: white;
}

.s_17
{
    margin-left: 400px;
}

.s_18
{
    margin-right: 400px;
}
