#index-jumbotron
{
    color: #37003c;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), url('../images/jumbotron.jpg'); 
}

.pts_tbl
{
    
}

.tbl_head
{
    /* background: #37003c; */
    color: white;
}